.cke_button_icon.cke_button__openlibretextsadaptdialog_icon {
  background-image: url(https://cdn.libretexts.net/Icons/adapt.png) !important;
  background-position: 0 undefinedpx !important;
  background-size: 16px !important;
}
